rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/entities/{entityId} {
      allow read, create, update: if request.auth != null
        && request.auth.uid == userId;
      allow delete: if false;
    }
    match /users/{userId}/backups/{backupId} {
      allow read, create, update: if request.auth != null
        && request.auth.uid == userId;
      allow delete: if false;
      match /entities/{entityId} {
        allow read, create: if request.auth != null
          && request.auth.uid == userId;
        allow update, delete: if false;
      }
    }
  }
}
